.maze.player {
  .maze-col.player, {
    background: #1a4f7a;
  }
  .maze-col.end {
    background: #7a1a1a;
  }
  .maze-col.solution {
    background: #1a7a28;
  }
  .maze-col.player.end {
    background: #064f0e;
  }
}